// FONT
$font-title-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifif;
$font-title-size:  calc(2vw + 1rem);
$font-title-weight: 400;

$font-text-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifif;
$font-text-size: calc(0.4vw + 1rem);
$font-text-weigth: 200;
$font-text-line-height: 32px;

$font-date-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifif;
$font-date-size: calc(0.6vw + 1rem);
$font-date-weigth: 200;

$font-more-info-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifif;
$font-more-info-size: calc(1.2vw + 1rem);
$font-more-info-weight: 400;